{% extends 'base.html' %}

{% block content %}

<h1>Movie List</h1>

<ul>
    {% for movie in object_list %}
    <li><a href=" {% url 'movie-detail' movie.pk %}">
        {{ movie.title }}</a> <br/>
        Submitted by : {{ movie.user.username }},
        at: {{ movie.timestamp }} <br/>
        Description:<br/> {{ movie.description }} <br/>
        Likes: {{ movie.likes.all.count }} |
        Hates: {{ movie.hates.all.count}} <small>
            {% if user.is_authenticated and movie.user.id == user.id%}
            - <a href="{% url 'update_movie' movie.pk %}">Edit<a/>
            <a href="{% url 'delete_movie' movie.pk %}">Delete<a/>
                {% endif %}
        </small><br/>
    </li>
    {% endfor%}

</ul>

{% endblock %}