{% extends 'base.html' %}
{% block title %} movierama {{ movie.title }} {% endblock %}
{% block content %}

<h1>{{ movie.title }}</h1>
<small> By: {{ movie.user.username }}
    {{ movie.user.email }}
    {% if user.is_authenticated %}
         <a href="{% url 'update_movie' movie.pk %}">Edit<a/>
             <a href="{% url 'delete_movie' movie.pk %}">Delete<a/>
            {% endif %}
                 <small/><br/>
            <hr>
            <br/>
            {{movie.description}}

            <br/><br/>
            <a href="{% url 'home' %}" class='btn btn-secondary'>Back</a>

            <br/><br/>
            <hr>
            <br/>
            {% if user.is_authenticated %}
            <form action="{% url 'like_movie' movie.pk%}" method="POST">
                {% csrf_token %}
                {% if liked %}
                <button type='submit' , name="movie_id" , value="{{movie.id}}" , class="btn btn-danger btn-sm ">Unlike
                </button>
                {% else %}
                <button type='submit' , name="movie_id" , value="{{movie.id}}" , class="btn btn-primary btn-sm ">Like
                </button>
                {% endif %}
                {{total_likes }} Likes
            </form>
                 <br/>
                 {% if user.is_authenticated %}
             <form action="{% url 'hate_movie' movie.pk %}" method="POST">
                 {%csrf_token %}
                 {% if hated %}
                 <button type='submit' , name="movie_id" , value="{{movie.id}}" , class="btn btn-primary btn-sm ">Unhate
                </button>
                {% else %}
                <button type='submit' , name="movie_id" , value="{{movie.id}}" , class="btn btn-danger btn-sm ">Hate
                </button>
                {% endif %}
                {{total_hates }} Hates

             </form>
            {% endif %}
            {% endif %}
{% endblock %}